.mobile-only-hide { display:inline; }

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
 .mobile-only-hide { display:none; }
}

/* mobileShow = ONLY show on mobile, not on computer */
.mobile-only-show { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .mobile-only-show {display: inline;}
}

.mobile-content-center-margin {margin-top:0px}
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
        .mobile-content-center-margin {margin-top:160px}
}

.row-instructor{
    margin-bottom:25px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
