{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block bodyclass %}landing-page sidebar-collapse{% endblock bodyclass %}
{% block body %}
    {% include "html_parts/message_banner.html" %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="none" navbar_class=""%}
    <div class="wrapper">

        <div class="section section-tabs" id="our-offerings">
            <div class="container">
                {% if user.instructor %}
                <div class="text-center">
                    <a class="btn btn-primary btn-round btn-lg" href="{% url 'create_event' %}" style="color:white; background-color:#2CA8FF;"><strong><i class="now-ui-icons arrows-1_share-66"></i> {% trans 'Create event' %}</strong></a>
                </div>
                {% endif %}
                {% include 'djangospam/form.html' %}
                <form class="form" method="get" action="{% url 'all_events' %}">
                    <div class="card-body">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                            <input type="text" class="form-control" id="search_hobby_event" name="search_hobby_event" value="{% if search_hobby_event %}{{ search_hobby_event }}{% endif %}" onkeyup="scroll_alt()" placeholder="Search for event here...">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Sök">
                    </div>
                </form>
                {% if event_list|length != 0 %}
                    <div class="row">
                    {% for event in event_list %}
                        <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
                            <!-- Tabs with Background on Card -->
                            <div class="card" style="cursor:pointer;" onclick="window.location='{% url 'single_event' event.id %}'">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                    <li class="nav-item">
                                        <a class="nav-link"><strong>{{ event.event_name|upper }}</strong></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active"><i class="now-ui-icons users_single-02"></i>{{ event.hobbyeventsignup_set.all|length }}</a>
                                    </li>
                                </ul>
                                {% if event.is_active == True and event.is_accepted == True and event.is_hidden == False and event.has_happened == False %}
                                    <div class="card-body" style="max-height:500px; background-color:rgba({{ event.event_color_red }},{{ event.event_color_green }},{{ event.event_color_blue }}, 1.0);">
                                {% else %}
                                    <div class="card-body" style="max-height:500px; background-color:rgba(200, 200, 200, 1.0);">
                                {% endif %}
                                    <table class="table-responsive">
                                        <tbody>
                                            <tr><td style="padding-right:10px;">Time:</td><td>{{ event.datetime|date:'d M H:i, Y' }}</td></tr>
                                            <tr><td style="padding-right:10px;">Place:</td><td>{{ event.address }}, {{ event.city_district }}, {{ event.city }} {% if location_name %}({{ event.location_name }}){% endif %}</td></tr>
                                            <tr><td style="padding-right:10px;">Price:</td><td>{% if event.price > 0 %}{{ event.price }} kr{% else %}Gratis{% endif %}</td></tr>
                                            <tr><td style="padding-right:10px;">Host:</td><td>{{ event.event_host.first_name|title }} {{ event.event_host.last_name|title }}</td></tr>
                                        </tbody>
                                    </table>
                                    {% if event.description %}
                                        <hr>
                                        <div class="text-center">{{ event.description }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Tabs on plain Card -->
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    <h3 class="text-center">We could not find any events with this search</h3>
                    <div class="text-center">
                        <a href="{% url 'all_events' %}" class="btn btn-primary btn-round btn-lg" style="color:white; background-color:#2CA8FF;">Go back</a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="section section-contact-us text-center" id="work-with-us">
            <div class="container">
                <h2 class="title">{% trans 'You are now logged in as' %}</h2>
                <h3>{{ user.instructor.first_name }} {{ user.instructor.last_name }}</h3>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="send-button">
                            <a href="{% url 'my_profile' %}" class="btn btn-primary btn-round btn-block btn-lg">{% trans 'To your profile' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% include "html_parts/footer.html" %}
    </div>
    <script>
        $(function(){
        $("label[for='id_hobbies_0']").hide()
        });
    </script>
{% endblock body %}
