{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block bodyclass %}landing-page sidebar-collapse{% endblock bodyclass %}
{% block body %}
    {% include "html_parts/message_banner.html" %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="none" navbar_class=""%}
    <div class="wrapper">
        <div class="section section-contact-us text-center section-javascript" id="javascriptComponents">
            <div class="container">
                <h2 class="title">Doublecheck so that everything is correct</h2>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <table border="0" style="width:100%;">
                            <tr><td align="left">Event name:    </td><td align="right">{{ this_event.event_name }}</td></tr>
                            <tr><td align="left">Date and time:    </td><td align="right">{{ this_event.datetime }}</td></tr>
                            <tr><td align="left">City:    </td><td align="right">{{ this_event.city }}</td></tr>
                            <tr><td align="left">City district:    </td><td align="right">{{ this_event.city_district }}</td></tr>
                            <tr><td align="left">Address:    </td><td align="right">{{ this_event.address }}</td></tr>
                            <tr><td align="left">Name of the place:    </td><td align="right">{{ this_event.location_name }}</td></tr>
                            <tr><td align="left">Price:    </td><td align="right">{% if this_event.price > 0 %}{{ this_event.price }}{% else %}Gratis{% endif %}</td></tr>
                            <tr><td align="left">Description:    </td><td align="right">{{ this_event.description }}</td></tr>
                        </table>
                        <form method="POST" action="{% url 'create_event_terminal' this_event.id %}" id="accept_event">
                            {% csrf_token %}
                            <a href="javascript:$('#accept_event').submit();" class="btn btn-primary btn-round btn-block btn-lg">Publish event</a>
                        </form>
                        <a href="{% url 'edit_event' this_event.id %}" class="btn btn-primary btn-round btn-block btn-lg" style="background-color:#2CA8FF;">Go back</a>
                    </div>
                </div>
            </div>
        </div>
        {% include "html_parts/footer.html" %}
    </div>
<script>
$(function(){
    $("label[for='id_hobbies_0']").hide()
});
</script>
{% endblock body %}
