<h1>Integritetspolicy</h1>
Vårt integritetsmeddelande har utformats med dig i åtanke. Hur meddelandet gäller avseende dig beror på vilket sätt du interagerar med oss. Om du till exempel:

Skickar ett meddelande eller anmäler dig på ett evenemang via oss så kommer vi att använda de uppgifter som du ger oss för att uppfylla både våra och Evenemangspartners skyldigheter gentemot dig vid leveransen av den tjänsten och, där så är tillåtetet, hålla dig underrättad om andra evenemang som kan vara av intresse för dig; och
då du besöker våra sajter kommer vi att använda cookies för att anpassa din upplevelse och förhoppningsvis ge dig en sömlös upplevelse.
Dina val och rättigheter i olika situationer förklaras mer utförligt nedan. Klicka på respektive ikon för mer information, eller scrolla ned för att läsa den fullständiga policyn.

<h5>Vilka uppgifter vi har och varifrån vi får dem</h5>
Vi samlar in och lagrar olika typer av uppgifter om dig när du skapar ett konto, skickar meddelanden till instruktörer, anmäler dig på evenemang, kontaktar oss eller använder våra webbsidor.

<h5>Hur vi använder dina uppgifter och varför</h5>
Vi samlar in och använder dina uppgifter av många olika anledningar, såsom att hjälpa dig att komma in på de evenemang som du gillar, dela nyheter, i marknadsföringssyfte och annars så som det krävs enligt lag.

<h5>Vilka vi delar dina uppgifter med och varför</h5>
Vi kan komma att dela dina uppgifter med Evenemangspartners, registrerade instruktörer och tredjepartsaktörer i marknadsföringssyfte.

<h5>Dina rättigheter och val</h5>
Bland andra rättigheter så kan du välja om du vill motta marknadsföring från oss och instruktörer. Du har också rätt att få tillgång till de uppgifter som vi har om dig.

<h5>Vård av dina uppgifter</h5>
Vi vidtar alltid åtgärder för att tillse att dina uppgifter är skyddade och raderar dem på ett säkert sätt när vi ej längre behöver dem.

<h5>Kontakta Oss</h5>
Om du har några frågor eller återkoppling om detta meddelande, eller om hur vi hanterar dina uppgifter, kontakta oss via: maxhxie@gmail.com.

<h3>Vilka uppgifter vi har och varifrån vi får dem</h3>
När du skapar ett konto, lagrar vi alla dem uppgifter du anger. När du skickar ett meddelande via vår sida lagrar vi alla dem uppgifter du anger. När du anmäler dig till ett evenemang lagrar vi alla dem uppgifter du anger. När du ställer en fråga lagrar vi alla dem uppgifter du anger.
När du använder vår webbsida eller appar samlar vi in uppgifter såsom vilken webbläsare och enhet du använder, din IP-adress, din plats, webbsidan som du kom ifrån, vad du använde och inte använde vår webbsida/app till, samt den webbsida som besöker efter det att du lämnat vår. För mer information om hur vi samlar in dessa uppgifter, se vår Cookie Policy.
När du besöker en social media-funktion inom vår webbsida eller app, och gör inlägg på en social media-plattform kommer den sociala media-webbsidan ge oss uppgifter om dig.
Om du har tillgänglighetsbehov vill vi se till att du får den bästa upplevelsen när du besöker ett evenemang. För att möjliggöra detta måste vi samla in uppgifter om dina behov (som kan komma att kräva att du lämnar information om din mentala och fysiska hälsa).
Vi använder leverantörer som sammanställer geodemografiska data som hjälper oss att bättre kunna anpassa våra tjänster så att de passar dig. Om du hellre önskar att vi ej gör detta, se punkten “Dina rättigheter och val” nedan.

<h3>Hur vi använder dina uppgifter och varför</h3>
<h5>För att uppfylla vårt kontrakt med dig</h5>
Vi använder dina uppgifter när du kommer i kontakt med oss (till exempel för att köpa varor eller biljetter) så att vi kan:
<ul>
<li>behandla din beställning</li>
<li>ta betalt, och</li>
<li>ge dig kundsupport.</li>
</ul>
<h5>För våra berättigade affärsintressen</h5>
<ul>
<li>För att utföra marknadsundersökningar och -analyser som hjälper oss att förbättra och skräddarsy våra produkter och tjänster.</li>
<li>I marknadsföringssyfte, såvida inte ditt samtycke krävs för sådan marknadsföring (se punkt 3 nedan).</li>
<li>För att skicka kundtjänst-epost till dig, innefattande bokningsbekräftelser och evenemangspåminnelser.</li>
<li>För att förhindra och upptäcka olagligt beteende, för att skydda eller genomdriva våra juridiska rättigheter eller så som det annars tillåts i lag. Till exempel missbruk av våra immateriella rättigheter (t.ex. vårt eller våra Evenemangspartners och instruktörers varumärken), bedrägeri eller andra brott.</li>
<li>För tillförsäkra vår och våra Evenemangspartners och instruktörers verksamheters säkerhet.</li>
<li>För att skapa en profil om dig för att hjälpa oss att anpassa våra tjänster till dig. Till exempel om du har köpt biljetter till ett pop-evenemang och har samtyckt till vår marknadsföring kommer vi att informera dig om andra pop-evenemang som vi tror att du skulle kunna vara intresserad av.</li>
<li>Angående dina personaliseringsinställningar</li>
<li>Vi kan ge dig mer av vad du vill ha när vi känner dig bättre. För att se till att våra meddelanden och vår webbsida är relevanta för dig skapar vi en användarprofil med den information som vi känner till om dig och hur du använder våra tjänster.</li>
</ul>

<h5>I de fall då du givit ditt samtycke</h5>
<ul>
<li>För att kontakta dig med information eller erbjudanden om våra kommande evenemang, produkter eller tjänster – det kan ske via e-post, push- och webbnotiser, via SMS eller sociala medieplattformar. Du kan närsomhelst ändra dina marknadsföringspreferenser, se punkten ”Dina val och rättigheter” nedan.</li>
<li>För att ge dig platsbaserade tjänster</li>
<li>För att leverera skräddarsydd reklam och marknadsföringskommunikation på våra webbsidor, appar och via tredjepartssidor såsom Google AdWords (se vår Cookie Policy för mer information].</li>
<li>För att behandla dina hälsouppgifter för att kunna tillgodose dina tillgänglighetsbehov, i de fall då det specifikt krävs och uttryckligt samtycke ges.</li>
</ul>
<h3>Vilka vi delar dina uppgifter med och varför</h3>
<li>Våra tredjeparts-tjänsteleverantörer (ibland kallade personuppgiftsbiträden) såsom molntjänstleverantörer som tillhandahåller den IT-infrastruktur på vilken våra produkter och system är byggda.</li>
<li>Vi kan komma att dela dina uppgifter med våra Evenemangspartners och instruktörer så att de kan genomföra evenemanget samt för de andra skäl som beskrivs i deras integritetspolicyer. Vi kommer alltid att namnge Evenemangspartnerna när du köper en biljett och du kommer att ge valet om du vill erhålla marknadsföring från dem.</li>
<li>Tredje parter som tillhandahåller varor och tjänster som du har köpt så att de kan behandla och genomföra din beställning.</li>
<li>Statliga myndigheter eller andra auktoriserade organ i de fall det är tillåtet eller krävs i lag.</li>
<li>Eventuella övertagare av hela eller delar av vår verksamhet.</li>
<h3>Dina rättigheter och val</h3>
<h5>Dina val</h5>
I de fall då du har givit ditt samtycke kan du dra tillbaka det genom att göra följande.
<ul>
<li>För att sluta erhålla vår marknadsföring kan du kontakta oss så gör vi det åt dig.</li>
<li>För att välja bort cookies och spårningsverktyg kan du kontakta oss så gör vi det åt dig.</li>
<li>För att välja bort platsspårning och push-notiser kan du ändra inställningarna på din enhet eller ha din plats avstängd. För att avsluta webbpush-notiser måste du ändra inställningarna i din webbläsare.</li>
<li>För att göra invändningar mot personalisering kan du kontakta oss så gör vi det åt dig.</li>
</ul>
<h5>Dina rättigheter</h5>
Du har också rättigheter gällande hur dina personuppgifter används:
<ul>
<li>Rätten att invända mot vår behandling av dina personuppgifter.</li>
<li>Rätten att begära att dina uppgifter raderas eller begränsas från vidare användning.</li>
<li>Rätten att kräva en kopia av den information som vi innehar om dig.</li>
<li>Rätten att korrigera, ändra eller uppdatera den information som du givit oss (om du har ett konto hos oss kan du också göra detta genom att logga in och uppdatera dina uppgifter).</li>
<li>Rätten att bestrida eventuella automatiserade beslut vi gjort angående dig. Ett automatiserat beslut är ett beslut som tas utan någon mänsklig inblandning och som har juridiska följder (t.ex. kreditupplysning). Typiskt sett utför vi inte någon automatiserad beslutsfattning, men om vi så gör kommer det tydligt att framgå att sådana beslut tas.</li>
</ul>
För att utöva rättigheterna ovan kontakta oss på maxhxie@gmail.com. Notera att emedan vi noggrant utvärderar varje begäran som vi erhåller så kan dina rättigheter skilja sig åt beroende på var du bor och vi kanske inte alltid måste lyda. Om detta inträffar kommer vi att berätta varför.

<h3>Vård av dina uppgifter</h3>
Vi har infört säkerhetsåtgärder för att skydda dina uppgifter. Vilka säkerhetsåtgärder vi använder beror på vilken typ av information som samlas in.

Vi behåller endast dina uppgifter så länge som det krävs för att ge dig de tjänster som du begär, för de syften som uppställs i denna policy och för eventuella juridiska syften som vi är skyldiga att behålla informationen. Vi kommer på ett säkert sätt att radera dina uppgifter när den ej längre behövs för dessa syften i enlighet med våra bolagspolicyer.

Som en del av en global bolagskoncern förlitar vi oss på delade tjänster av vilka en del är placerade utanför Europa. Samtidigt för att kunna ge dig en sömlös upplevelse, när världsstjärnor turnerar, kan dina uppgifter komma att överföras internationellt.

I de fall som vi överför information på detta sätt finns det strikta regler för att tillse att dina personuppgifter fortfarande är skyddade i enlighet med höga säkerhetsnormer. I de fall vi gör detta kommer vi att tillse att lämpliga skyddsåtgärder finns. Då dina uppgifter överförs till länder utanför det Europeiska ekonomiska samarbetsområdet kommer vi att använda en av de mekanismer som anges nedan.

<h3>Kontakta Oss</h3>
Om du har några frågor om ovanstående eller om vår inställning till integritet kan vår särskilda Integritetsavdelning, inklusive vårt Dataskyddsombud, hjälpa dig. Kontakta: maxhxie@gmail.com

Datainspektionen finns också att fråga, även om vi dock helst ser att du vänder dig till oss först.
