{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head %}
{% endblock extra_head %}

{% block bodyclass %}profile-page sidebar-collapse{% endblock bodyclass %}
{% block body %}
    <!-- Navbar -->
    {% include "html_parts/navbar1.html" with color_on_scroll="400" navbar_class="navbar-transparent" %}
    <!-- End Navbar -->
    {% include "html_parts/message_banner.html" %}

    <div class="wrapper">
        {% if profile %}
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'external_page/assets/img/bg5.jpg' %}');"></div>
            <div class="container">
                <div class="content-center" style="margin-top:36px;">
                    <div class="photo-container">
                        {% if profile.profile_picture %}
                            <img src="{{ profile.profile_picture.url }}">
                        {% else %}
                            <img src="{% static 'external_page/assets/img/placeholder.png'%}">
                        {% endif %}
                    </div>
                    <h3 class="title" style="margin-top:0px; padding:0px;">{{ profile.first_name|title }} {{ profile.last_name|title }}</h3>
                    <p class="category">
                        {% if hobby %}
                            {{ hobby }}
                        {% elif hobby_list %}
                            {% for hobby in hobby_list %}
                                <a href="{% url 'profile_with_user' user.id %}">{{ hobby }}</a> |
                            {% endfor %}
                        {% endif %}
                    </p>
                    <div class="content">
                        {% if profile %}
                            <div class="social-description">
                                <h2>{{ followers }}</h2>
                                <p>Followers</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        {% if hobby and this_user != profile.user %}
            <div class="section section-contact-us text-center">
                <div class="container">
                    {% if this_user != profile.user %}
                        {% if following == False %}
                            <form action="{% url 'follow_instructor' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ profile.user.id }}">
                                <div class="button-container">
                                    <input type="submit" class="btn btn-primary btn-round btn-lg" style="background-color:#2CA8FF;"value="Follow {{ profile.first_name }}">
                                </div>
                            </form>
                        {% else %}
                            <form action="{% url 'unfollow_instructor' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ profile.user.id }}">
                                <div class="button-container">
                                    <input type="submit" class="btn btn-primary btn-round btn-lg" style="background-color:#2CA8FF;" value="Unfollow {{ profile.first_name }}">
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="section">
            <div class="container">
                {% if this_user == profile.user %}
                    <div class="button-container">
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-round btn-lg">Change profile</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% elif error_message %}
            <div class="page-header page-header-small" filter-color="orange">
                <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'external_page/assets/img/bg5.jpg' %}');">
                </div>
                <div class="container">
                    <div class="content-center">
                        <div class="photo-container">
                            <img src="{% static 'external_page/assets/img/placeholder.png' %}">
                        </div>
                        <h3 class="title">{{ error_message }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
        {% include "html_parts/footer.html" %}
    </div>
{% endblock body %}
