{% extends "landing_page.html" %}

{% load i18n %}

{% block account_inactive_modal %}
<!-- User activation modal -->
<div class="modal fade" id="account_inactive_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#2CA8FF;">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <div class="header header-primary text-center">
                    <h4 class="card-title">{% trans 'Account innactive' %}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="card-content text-center">
                    <p>{% trans "This account is innactive" %}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-neutral btn-round btn-lg btn-block" data-dismiss="modal" style="color:#2CA8FF;">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $('#account_inactive_modal').modal('show');
});
</script>
<!--  End Modal -->
{% endblock account_inactive_modal %}
