{% extends "settings_page.html" %}

{% load i18n %}

{% block password_change_modal %}

<!-- Forgotten Password Modal -->
<div class="modal fade modal-primary" id="password_change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content" style="background-color:#2CA8FF;">
            <div class="card card-login card-plain">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <div class="header header-primary text-center">
                        <h4 class="card-title">{% trans 'Change password' %}</h4>
                    </div>
                </div>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="card-content text-center">
                            {% for field, error_message in form.errors.items %}
                                <span style="color:white;">{{ error_message }}</span>
                            {% endfor %}

                            {% for field in form %}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                {{ field }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <input type="submit" class="btn btn-neutral btn-round btn-lg btn-block" value='{% trans "Change password" %}' style="color:#2CA8FF;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  End Forgotten Password Modal -->
<script type="text/javascript">
function initialize_modal() {
    $(function(){
        $('#password_change_modal').modal('show');
    });

    $('#id_oldpassword').addClass('form-control').attr('placeholder', 'Nuvarande lösenord');
    $('#id_password1').addClass('form-control').attr('placeholder', 'Nytt, önskat lösenord');
    $('#id_password2').addClass('form-control').attr('placeholder', 'Nytt, önskat lösenord igen');
}
window.onload = initialize_modal;
</script>
{% endblock password_change_modal %}
