{% extends "landing_page.html" %}

{% load i18n %}

{% block password_reset_from_key_modal %}
<!-- User activation modal -->
<div class="modal fade" id="password_reset_from_key_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#2CA8FF;">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <div class="header header-primary text-center">
                    <h4 class="card-title">{% if token_fail %}{% trans "Dålig länk" %}{% else %}{% trans "Reset password" %}{% endif %}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="card-content">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}This link has expired. Create a new <a href="{{ passwd_reset_url }}">link to reset password</a>.{% endblocktrans %}</p>
                    {% else %}
                </div>
            </div>
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="card-content">
                                <div class="input-group form-group-no-border input-lg">
                                    <span class="input-group-addon">
                                        {% for field in form %}
                                            {{ field }}
                                            <script type="text/javascript">
                                                $(function(){
                                                    $('#{{ field.auto_id }}').addClass('form-control')
                                                });
                                            </script>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                            </div>
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-neutral btn-round btn-lg btn-block" data-dismiss="modal" style="color:#2CA8FF;">Close</button>
                </div>
                {% else %}
                <div class="modal-body">
                    <div class="card-content">
                        <p>{% trans 'Your password have now been reset' %}</p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $('#password_reset_from_key_modal').modal('show');
});
</script>
<!--  End Modal -->
{% endblock password_reset_from_key_modal %}
