{% extends "landing_page.html" %}

{% load i18n %}

{% block password_set_modal %}
<!-- User activation modal -->
<div class="modal fade modal-primary" id="password_set_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#2CA8FF;">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <div class="header header-primary text-center">
                    <h4 class="card-title">{% trans 'Set a password' %}</h4>
                </div>
            </div>
            {% include 'djangospam/form.html' %}
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card-content">
                        {% for field in form %}
                        <div class="input-group form-group-no-border input-lg">
                            <script type="text/javascript">
                                $(function(){
                                    $('#{{ field.auto_id }}').addClass('form-control')
                                });
                            </script>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <input type="submit" name="submit_login" class="btn btn-neutral btn-round btn-lg btn-block" value="{% trans 'Set a password' %}" style="color:#2CA8FF;">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $('#password_set_modal').modal('show');
});
</script>
<!--  End Modal -->
{% endblock password_set_modal %}
