{% extends "landing_page.html" %}

{% load i18n %}
{% load account %}

{% block password_reset_modal %}
<!-- Forgotten Password Modal -->
<div class="modal fade modal-primary" id="password_reset_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content" style="background-color:#2CA8FF;">
            <div class="card card-login card-plain">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <div class="header header-primary text-center">
                        <h4 class="card-title">{% trans 'Reset password' %}</h4>
                    </div>
                </div>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="card-content">
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            {% for field, error_message in form.errors.items %}
                                <span style="color:white;">{{ error_message }}</span>
                            {% endfor %}
                            {% for field in form %}
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    {% if field.name == "email" %}
                                        <i class="now-ui-icons ui-1_email-85"></i>
                                    {% endif %}
                                </span>
                                {{ field }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <input type="submit" name="submit_login" class="btn btn-neutral btn-round btn-lg btn-block" value="Reset" style="color:#2CA8FF;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $('#password_reset_modal').modal('show');
    $("#id_email").addClass("form-control");
});
$("#password_reset_modal").on("hidden.bs.modal", function () {
    window.location = "{% url 'index' %}";
});
</script>
<!--  End Forgotten Password Modal -->
{% endblock password_reset_modal %}
